/* NewBanner.css */

.new-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  gap: 0;
  flex-wrap: wrap;
}

.new-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-banner-section {
  width: 263px;
  height: 330px;
  color: white;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.new-yellow-bg {
  background-color: #FFC300;
}

.new-image-bg,
.new-image-bg1,
.new-image-bg2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%;
  height: 100%; */
  border-radius: 8px;
}

.new-image-bg {
  background-image: url('../images/Banner/2.jpg');
}

.new-image-bg1 {
  background-image: url('../images/Banner/3.jpg');
}

.new-image-bg2 {
  background-image: url('../images/Banner/4.jpg');
}

.new-black-text {
  color: black;
}

.new-white-text {
  color: white;
}

.new-transparent-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.new-transparent-button:hover {
  background-color: white;
  color: #FFC300;
}

/* Media Queries */
@media (max-width: 768px) {
  .new-banner-section {
    width: calc(50% - 20px); /* Adjust for two sections in a row */
    margin: 10px;
  }
  .new-black-text {
  text-size-adjust: 10px;
  }
  
  .new-white-text {
    text-size-adjust: 6px;
  }
}
