/* CompanyLogos.css */

.company-logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .logo-container {
    width: 120px;
    height: 80px; /* Adjust height as needed */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .logo-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .logo-img {
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 768px) {
    .logo-container {
      width: 80px;
      height: 60px; /* Adjust height as needed */
    }
  }
  