.slideshow {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 70vh; /* Adjust the height as needed */
  }
  .slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slide img {
    width: 100%;
    height: 100%;
  }
  
  .slide-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    font-size: 18px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .arrow:hover {
    color: black;
    opacity: 1;
  }
  
  .arrow-left {
    left: 10px;
  }
  
  .arrow-right {
    right: 10px;
  }  
  .slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    background-color: yellow; /* Set the default background color */
  }
  
  .slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Rest of your styles... */
  